// primary colors

$brightOrange: hsl(31, 77%, 52%);
$darkCyan: hsl(184, 100%, 22%);
$veryDarkCyan: hsl(179, 100%, 13%);


//neutral colors

$transparentWhite: hsla(0, 0%, 100%, 0.75); //paragraphs
$veryLightGray: hsl(0, 0%, 95%); //background, headings, and buttons

//font size

$fontSize: 0.9375rem;


//fonts

$lexendDeca: 'Lexend Deca', sans-serif;
$bigShouldersDisplay: 'Big Shoulders Display', cursive;

$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xlg: 3.25rem; // 52px